<main class="container d-flex justify-content-between align-items-center">
  <div
    class="main-div d-flex flex-row justify-content-between align-items-center"
  >
    <div class="main-div-left d-flex flex-column justify-content-between">
      <div>
        <div>
          <p
            style="
              color: #fff;
              font-size: 32px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            "
          >
            <span
              style="
                color: var(--primary, #c778dd);
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              "
              >/</span
            >about-me
          </p>
        </div>
        <div>
          <p
            style="
              color: #fff;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            "
            id="about-demo"
          >
            Who am i?
          </p>
        </div>
      </div>

      <div>
        <p
          style="
            color: var(--gray, #abb2bf);
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
          "
        >
          Hello, i’m Hassaan! <br />

          I’m a self-taught front-end developer based in Islamabad,
          <br />
          Pakistan. I can develop responsive websites from <br />
          scratch and raise them into modern user-friendly web <br />
          experiences. <br />
          <br />
          Transforming my creativity and knowledge into a <br />
          websites has been my passion for over a year. I have <br />
          been helping various clients to establish their <br />
          presence online. I always strive to learn about the <br />
          newest technologies and frameworks.
        </p>
      </div>
    </div>

    <div class="main-div-right">
      <img src="/assets/images/Group 50.png " alt="" />
    </div>
  </div>
</main>
