.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 50px;
}
.blog-post {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  height: 372px;
  width: 20%;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-post button {
  background: black;
  color: white;
  border: none;
  padding: 5px 12px;
  border-radius: 10px;
}

h3 {
  color: #333;
}

p {
  color: #777;
}
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.btn-div {
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-div span {
  border: solid 1px gray;
  background-color: rgb(210, 210, 210);
  padding: 5px 15px;
  border-radius: 10px;
}
.btn-div button {
  background-color: black;
  border: none;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 10px;
}
