.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 50px;
}
.blog-post {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  height: 372px;
  width: 20%;
  background-color: #ececec;
}
.blog-post button {
  background: black;
  color: white;
  border: none;
  padding: 5px 12px;
}

h3 {
  color: #333;
}

p {
  color: #777;
}
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
