<div [formGroup]="registerForm" class="form">
  <label for="username">Username:</label>
  <input type="text" formControlName="username" />
  <small *ngIf="username.invalid && (username.dirty || username.touched)">
    <div *ngIf="username.errors?.['required']">Username required</div>
  </small>

  <label for="email">Email:</label>
  <input type="email" formControlName="email" />
  <small *ngIf="email.invalid && (email.dirty || email.touched)">
    <div *ngIf="email.errors?.['required']">Email required</div>
    <div *ngIf="email.errors?.['email']">Email should be valid</div>
  </small>

  <label for="password">Password:</label>
  <input type="password" formControlName="password" />
  <small *ngIf="password.invalid && (password.dirty || password.touched)">
    <div *ngIf="password.errors?.['required']">Password required</div>
  </small>
  <div class="d-flex gap-4 align-items-center">
    <button [disabled]="registerForm.invalid" (click)="onSubmit()">
      Register
    </button>
    <span>Already Register? <a [routerLink]="['/login']">Login</a></span>
  </div>
</div>
