<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <article>
        <div class="featured-image">
          <img
            src="/assets/gifs/output-onlinegiftools (1).gif "
            alt="Nature Image"
          />
        </div>
        <div class="content">
          <h2>Discover the Wonders of Nature</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel
            justo sed dui sodales ullamcorper. Sed at commodo odio...
          </p>
          <p class="author">By John Doe</p>
          <a class="read-more">Read More</a>
        </div>
      </article>

      <article>
        <div class="featured-image">
          <img
            src="assets/gifs/output-onlinegiftools (1).gif"
            alt="Mindfulness Image"
          />
        </div>
        <div class="content">
          <h2>The Art of Mindfulness</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
            facilisis urna sit amet lectus accumsan, vel gravida lacus
            suscipit...
          </p>
          <p class="author">By Jane Doe</p>
          <a class="read-more">Read More</a>
        </div>
      </article>

      <!-- Add more articles as needed -->
    </section>
  </body>
</html>
