<body
  style="
    background-color: #282c33;
    color: white;
    font-family: Fira Code;
    line-height: normal;
    font-style: normal;
  "
>
  <main class="container d-flex justify-content-between align-items-center">
    <div class="d-flex flex-column gap-4">
      <h2
        style="
          color: var(--white, #fff);
          font-size: 40px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        "
      >
        Hassaan is a <span style="color: #c778dd">web designer</span> <br />
        and
        <span style="color: #c778dd">front-end developer</span>
      </h2>
      <p style="color: gray; width: 440px; font-size: 20px" id="demo"></p>
      <button>Contact me!!</button>
    </div>

    <img src="assets/images/Group 46.png" class="img-fluid" alt="" />
  </main>

  <div class="quote">
    <img
      style="margin: auto; width: 55%"
      src="/assets/images/quote.png"
      alt=""
    />
  </div>
</body>
