<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="assets/gifs/output-onlinegiftools (1).gif"
        class="d-inline-block align-text-top"
      />
    </a>
    <div class="d-flex gap-5 align-items-center">
      <ul class="d-flex gap-5">
        <li [routerLink]="['/home']">Home</li>
        <li>About</li>
        <li>Contact</li>
        <li [routerLink]="['/blogs']">Blogs</li>
        <li>Gallery</li>
      </ul>
      <button class="btn bg-warning text-light">Sign in</button>
    </div>
  </div>
</nav>
